.clsScroll{
    width: 115px;
    height: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.foodclsScroll{
    width: 115px;
    height: 55px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#kek {
    width: 115px;
    height: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#cancel, #confirm {
    width: 57.5px;
    height: 20px;
}




::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0000ff; 
    border-radius: 10px;
}

#def {
    padding-left: 65px;
}
#stage{

   margin-left: 5px;
}
#calendar{
    /*padding-left: 30px; */  
  
}